@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

.navbar-inverse{
  background-color: #fff;
  border-color: #eee;
  border-width: 1px;
}

.navbar-inverse .navbar-brand{
  color: #222;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
  color: #ccc;
}

.navbar-inverse .navbar-nav > li > a{
  color: #222;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
  color: #ccc;
}

body {
  padding-top: 50px;
}

footer{
	text-align: center;
	text-align: bottom;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* footer */

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.footer_info{
  text-align: center;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* 승진 */

.stats {
    text-align: center;
    margin-top: 50px;

  a {
    margin-right: 15px;
    color: white;
    &:first-child {
      border: 0;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
.btn btn-default btn-sm{
  text-align: center;
}
.search-class{
  text-align: right;
  margin-top: 30px;
  margin-right: 200px;
  margin-bottom: 50px;
}
.table{
  width: 75%;
  margin: auto;
  text-align: center;
}
.table table-striped{
  width: 30%;
  margin: auto;
  text-align: center;
}
tr.lovelyrow:hover{
  background-color: #eaeaea;
  cursor: pointer;

}
tr.lovelyrow{
  a{
  color: #449d44;
  }
  a:hover{
  color: #5cb85c;
    font-weight: bold;

  }
}
tr.activerow{
  font-weight:bold;
  font-size: 16px;
  color: #000;
}
.search-class{
  a{
    color:#449d44;
  }
}

/* Paginate */
/*origin*/
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus{
    color: #449d44;
}
/*hover*/
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
  background-color: #5cb85c;
  border-color: #4cae4c;
}
/*paginate previous, next text*/
.pagination > li > a, .pagination > li > span{
  color:#4cae4c;
}

/*Board*/
.board-show{
  margin-left: 175px;
  text-align: left;
  font-style: italic;
  font-size: 17px;
  a{
    color: #449d44;
  }
  a:hover{
    color: #5cb85c;
  }
}

.board-content-show{
  text-align: center;
  margin: auto;
  width: 45%;
  color: #222;
}
.comment-info-show{
  margin-left: 175px;
  text-align: left;
  
  font-size: 16px;

}
.comment_write{
  margin-top: 150px;
}
/*Comments*/
.thumbs{
  a{
    color: #449d44;  
  }

  a:hover, a:focus{
    color: #5cb85c;
    border-color: #4cae4c;  
    text-decoration: blink;
  }
}


/* 지연 */

.text-center {
  margin-top: 50px;
}

.b_category_area {
	margin-top: 80px;
  margin-bottom: -30px;
  padding: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  text-align: center;
  outline: transparent;
}

.b_content_area {
	padding: 8px;
	margin-top: 20px;
	margin-left: auto;
  margin-right: auto;
	display: block;
	border-radius: 20px;
	text-align: center;
  outline: transparent;
  margin-bottom: 25px;
}

.btn-xs, .btn-group-xs > .btn {
  margin-left: 360px;
  margin-top: -20px;
}



/* 정목 */

/* carousel */


.item{
    background: #333;
    text-align: center;
    height: 400px !important;
    a{
      color: white;
    }
}
.carousel{
    margin-top: 0px;
    width: max;
}

.carousel-caption{
  right: 20%;
  left: 20%;
  margin-bottom: 50px;
}

.bs-example{
  margin: 0px;
  margin-top: 0px;

}

.admin{
  margin-left: 100px;
}


/* show */

.comment-show{
  text-align: center;
}
hr{
  width: 75%;
}
.paginate{
  text-align: center;
}

/* Home bottom container */

.home-middle-container{

  padding-right: 15px;
  padding-left: 15px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.col-md-4{
  border: 1px solid #cccccc;
  padding:30px;  
}
.more_button{
  text-align: right;
}

/* etc */

.login{
  text-align: center;
}

.form-control{
  width: 100px;
}